.no-b-m {
  margin-bottom: 0 !important;
}

.no-t-m {
  margin-top: 0 !important;
}

.no-t-bor {
  border-top: 0 !important;
}

.no-r-bor {
  border-right: 0 !important;
}

.no-b-bor {
  border-bottom: 0 !important;
}

.no-l-bor {
  border-left: 0 !important;
}