@mixin tabs-panel (
  $padding: $tab-content-padding
) {
  display: none;
  padding: $padding;

  > *:last-child {
    margin-bottom: 0;
  }

  &.is-active {
    display: block;
  }
}

@mixin tabs-container (
  $margin: $tab-margin,
  $background: $tab-background
) {
  @include clearfix;
  margin: $margin;
  background: $background;
  list-style-type: none;
}

@mixin tabs-content (
  $background: $tab-content-background,
  $color: $tab-content-color,
  $border-color: $tab-content-border
) {
  border: 1px solid $border-color;
  background: $background;
  color: $color;
  transition: all 0.5s ease;

  @if (has-value($tabs-radius)) {
    border-bottom-#{$global-left}-radius: $tabs-radius;
    border-bottom-#{$global-right}-radius: $tabs-radius;
    border-top-#{$global-right}-radius: $tabs-radius;
  }
}

@mixin tabs-title (
  $padding: $tab-item-padding,
  $font-size: $tab-item-font-size,
  $color: $tab-color,
  $color-active: $tab-active-color,
  $background: $tab-item-background,
  $background-hover: $tab-item-background-hover,
  $background-active: $tab-background-active,
  $border-color: $tab-content-border
) {
  background: $background;
  border: 1px solid $border-color;
  border-bottom: none;
  float: #{$global-left};
  position: relative;

  &:not(:first-child) {
    margin-#{$global-left}: -1px;
  }

  &:hover {
    background: $background-hover;
  }

  @if (has-value($tabs-radius)) {
    &:first-child {
      border-top-#{$global-left}-radius: $tabs-radius;
    }

    &:last-child {
      border-top-#{$global-right}-radius: $tabs-radius;
    }
  }

  &.is-active {
    background: $background-active;

    &:before {
      content: '';
      left: 0;
      right: 0;
      bottom: -1px;
      height: 1px;
      position: absolute;
      background-color: $tab-background-active;
    }
  }

  > a {
    @include disable-mouse-outline;
    display: block;
    padding: $padding;
    font-size: $font-size;
    line-height: 1;
    color: $color;

    &:hover {
      color: scale-color($color, $lightness: -14%);
    }

    &:focus,
    &[aria-selected='true'] {
      color: $color-active;
    }
  }
}