/// Adds styles for a progress bar container.
@mixin progress-container {
  height: $progress-height;
  margin-bottom: $progress-margin-bottom;
  border-radius: $progress-radius;
  background-color: $progress-background;
  padding: $progress-padding;

  @if has-value($progress-border) {
    border: $progress-border;
  }
}

@mixin progress-meter {
  position: relative;
  display: block;
  width: 0%;
  height: 100%;
  background-color: $progress-meter-background;

  @if has-value($progress-radius) {
    border-radius: $progress-radius;
  }
}

@mixin progress-meter-text {
  @include absolute-center;
  position: absolute;
  margin: 0;
  font-size: $progress-meter-text-size;
  color: $white;
  white-space: nowrap;

  @if has-value($progress-radius) {
    border-radius: $progress-radius;
  }
}

@mixin foundation-progress-element {
  progress {
    display: block;
    width: 100%;
    height: $progress-height;
    margin-bottom: $progress-margin-bottom;

    appearance: none;

    @if has-value($progress-radius) {
      border-radius: $progress-radius;
    }

    @if has-value($progress-border) {
      border: $progress-border;
    }

    padding: $progress-padding;

    // For Firefox
    background: $progress-background;

    &::-webkit-progress-bar {
      background: $progress-background;

      @if has-value($progress-radius) {
        border-radius: $progress-radius;
      }
    }

    &::-webkit-progress-value {
      background: $progress-meter-background;

      @if has-value($progress-radius) {
        border-radius: $progress-radius;
      }
    }

    &::-moz-progress-bar {
      background: $progress-meter-background;

      @if has-value($progress-radius) {
        border-radius: $progress-radius;
      }
    }

    @each $name, $color in $foundation-palette {
      &.#{$name} {
        // Internet Explorer sets the fill with color
        color: $color;

        &::-webkit-progress-value {
          background: $color;
        }

        &::-moz-progress-bar {
          background: $color;
        }
      }
    }

    // For IE and Edge
    &::-ms-fill {
      @if has-value($progress-radius) {
        border-radius: $progress-radius;
      }

      border: 0;
    }
  }
}
