%svg-common {
	background: url("../img/sprite.svg") no-repeat;
}

%svg-icon-checkbox-16 {
	@extend %svg-common;
	background-position: 0 0;
}

%svg-icon-checkbox-16-dims {
	width: 16px;
	height: 16px;
}

%svg-icon-checkbox-8 {
	@extend %svg-common;
	background-position: 0 2.5157232704402515%;
}

%svg-icon-checkbox-8-dims {
	width: 8px;
	height: 8px;
}

%svg-icon-checkbox-disabled-16 {
	@extend %svg-common;
	background-position: 0 3.821656050955414%;
}

%svg-icon-checkbox-disabled-16-dims {
	width: 16px;
	height: 16px;
}

%svg-icon-checkbox-disabled-8 {
	@extend %svg-common;
	background-position: 0 6.289308176100629%;
}

%svg-icon-checkbox-disabled-8-dims {
	width: 8px;
	height: 8px;
}

%svg-icon-close-12 {
	@extend %svg-common;
	background-position: 0 7.594936708860759%;
}

%svg-icon-close-12-dims {
	width: 12px;
	height: 12px;
}

%svg-icon-close-24 {
	@extend %svg-common;
	background-position: 0 9.67741935483871%;
}

%svg-icon-close-24-dims {
	width: 24px;
	height: 24px;
}

%svg-icon-close-hover-12 {
	@extend %svg-common;
	background-position: 0 13.291139240506329%;
}

%svg-icon-close-hover-12-dims {
	width: 12px;
	height: 12px;
}

%svg-icon-close-hover-24 {
	@extend %svg-common;
	background-position: 0 15.483870967741936%;
}

%svg-icon-close-hover-24-dims {
	width: 24px;
	height: 24px;
}

%svg-icon-down-26x16 {
	@extend %svg-common;
	background-position: 0 19.10828025477707%;
}

%svg-icon-down-26x16-dims {
	width: 26px;
	height: 16px;
}

%svg-icon-down-hover-26x16 {
	@extend %svg-common;
	background-position: 0 21.656050955414013%;
}

%svg-icon-down-hover-26x16-dims {
	width: 26px;
	height: 16px;
}

%svg-icon-drilldown-left-10x14 {
	@extend %svg-common;
	background-position: 0 24.126984126984127%;
}

%svg-icon-drilldown-left-10x14-dims {
	width: 10px;
	height: 14px;
}

%svg-icon-drilldown-left-hover-10x14 {
	@extend %svg-common;
	background-position: 0 26.349206349206348%;
}

%svg-icon-drilldown-left-hover-10x14-dims {
	width: 10px;
	height: 14px;
}

%svg-icon-drilldown-right-10x14 {
	@extend %svg-common;
	background-position: 0 28.571428571428573%;
}

%svg-icon-drilldown-right-10x14-dims {
	width: 10px;
	height: 14px;
}

%svg-icon-drilldown-right-hover-10x14 {
	@extend %svg-common;
	background-position: 0 30.793650793650794%;
}

%svg-icon-drilldown-right-hover-10x14-dims {
	width: 10px;
	height: 14px;
}

%svg-icon-first-16x14 {
	@extend %svg-common;
	background-position: 0 33.01587301587302%;
}

%svg-icon-first-16x14-dims {
	width: 16px;
	height: 14px;
}

%svg-icon-first-disabled-16x14 {
	@extend %svg-common;
	background-position: 0 35.23809523809524%;
}

%svg-icon-first-disabled-16x14-dims {
	width: 16px;
	height: 14px;
}

%svg-icon-first-hover-16x14 {
	@extend %svg-common;
	background-position: 0 37.46031746031746%;
}

%svg-icon-first-hover-16x14-dims {
	width: 16px;
	height: 14px;
}

%svg-icon-hamburger-20x14 {
	@extend %svg-common;
	background-position: 0 39.682539682539684%;
}

%svg-icon-hamburger-20x14-dims {
	width: 20px;
	height: 14px;
}

%svg-icon-hamburger-hover-20x14 {
	@extend %svg-common;
	background-position: 0 41.904761904761905%;
}

%svg-icon-hamburger-hover-20x14-dims {
	width: 20px;
	height: 14px;
}

%svg-icon-last-16x14 {
	@extend %svg-common;
	background-position: 0 44.12698412698413%;
}

%svg-icon-last-16x14-dims {
	width: 16px;
	height: 14px;
}

%svg-icon-last-disabled-16x14 {
	@extend %svg-common;
	background-position: 0 46.34920634920635%;
}

%svg-icon-last-disabled-16x14-dims {
	width: 16px;
	height: 14px;
}

%svg-icon-last-hover-16x14 {
	@extend %svg-common;
	background-position: 0 48.57142857142857%;
}

%svg-icon-last-hover-16x14-dims {
	width: 16px;
	height: 14px;
}

%svg-icon-minus-24 {
	@extend %svg-common;
	background-position: 0 51.61290322580645%;
}

%svg-icon-minus-24-dims {
	width: 24px;
	height: 24px;
}

%svg-icon-minus-hover-24 {
	@extend %svg-common;
	background-position: 0 55.483870967741936%;
}

%svg-icon-minus-hover-24-dims {
	width: 24px;
	height: 24px;
}

%svg-icon-next-10x14 {
	@extend %svg-common;
	background-position: 0 58.41269841269841%;
}

%svg-icon-next-10x14-dims {
	width: 10px;
	height: 14px;
}

%svg-icon-next-disabled-10x14 {
	@extend %svg-common;
	background-position: 0 60.63492063492063%;
}

%svg-icon-next-disabled-10x14-dims {
	width: 10px;
	height: 14px;
}

%svg-icon-next-hover-10x14 {
	@extend %svg-common;
	background-position: 0 62.857142857142854%;
}

%svg-icon-next-hover-10x14-dims {
	width: 10px;
	height: 14px;
}

%svg-icon-plus-24 {
	@extend %svg-common;
	background-position: 0 66.12903225806451%;
}

%svg-icon-plus-24-dims {
	width: 24px;
	height: 24px;
}

%svg-icon-plus-hover-24 {
	@extend %svg-common;
	background-position: 0 70%;
}

%svg-icon-plus-hover-24-dims {
	width: 24px;
	height: 24px;
}

%svg-icon-prev-10x14 {
	@extend %svg-common;
	background-position: 0 72.6984126984127%;
}

%svg-icon-prev-10x14-dims {
	width: 10px;
	height: 14px;
}

%svg-icon-prev-disabled-10x14 {
	@extend %svg-common;
	background-position: 0 74.92063492063492%;
}

%svg-icon-prev-disabled-10x14-dims {
	width: 10px;
	height: 14px;
}

%svg-icon-prev-hover-10x14 {
	@extend %svg-common;
	background-position: 0 77.14285714285714%;
}

%svg-icon-prev-hover-10x14-dims {
	width: 10px;
	height: 14px;
}

%svg-icon-radio-16 {
	@extend %svg-common;
	background-position: 0 79.61783439490446%;
}

%svg-icon-radio-16-dims {
	width: 16px;
	height: 16px;
}

%svg-icon-radio-8 {
	@extend %svg-common;
	background-position: 0 81.13207547169812%;
}

%svg-icon-radio-8-dims {
	width: 8px;
	height: 8px;
}

%svg-icon-radio-disabled-16 {
	@extend %svg-common;
	background-position: 0 83.43949044585987%;
}

%svg-icon-radio-disabled-16-dims {
	width: 16px;
	height: 16px;
}

%svg-icon-radio-disabled-8 {
	@extend %svg-common;
	background-position: 0 84.90566037735849%;
}

%svg-icon-radio-disabled-8-dims {
	width: 8px;
	height: 8px;
}

%svg-icon-slider-16x16 {
	@extend %svg-common;
	background-position: 0 87.26114649681529%;
}

%svg-icon-slider-16x16-dims {
	width: 16px;
	height: 16px;
}

%svg-icon-slider-24x24 {
	@extend %svg-common;
	background-position: 0 90.96774193548387%;
}

%svg-icon-slider-24x24-dims {
	width: 24px;
	height: 24px;
}

%svg-icon-slider-hover-16x16 {
	@extend %svg-common;
	background-position: 0 93.63057324840764%;
}

%svg-icon-slider-hover-16x16-dims {
	width: 16px;
	height: 16px;
}

%svg-icon-slider-hover-24x24 {
	@extend %svg-common;
	background-position: 0 97.41935483870968%;
}

%svg-icon-slider-hover-24x24-dims {
	width: 24px;
	height: 24px;
}

%svg-icon-up-hover-26x16 {
	@extend %svg-common;
	background-position: 0 100%;
}

%svg-icon-up-hover-26x16-dims {
	width: 26px;
	height: 16px;
}

